---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { Icon } from 'astro-icon/components';
import RoundedImage from '../components/RoundedImage.astro';
import ButtonContact from '../components/ButtonContact.astro';
import Bash from '../components/Bash.astro';

---

<Layout title="Home">
<main>
	<section id="hero" class="py-10 sm:py-24 text-center">
		<div class="mx-auto max-w-4xl">
		  <Bash></Bash>
		 <!-- <RoundedImage src="/assets/dotDager.png" src2="/assets/imagen2.png" /> -->
	
		
				  <!-- Botones de contacto -->
				  <div class="flex justify-center items-center space-x-4 mt-6 sm:mt-16">
					<ButtonContact Text="GitHub" Link="https://www.youtube.com/@DotDager">
					  <slot name="icon"><Icon name="astro" size="1rem" /> </slot>
					</ButtonContact>
					<ButtonContact Text="Linkedin" Link="https://www.instagram.com/dager.32/">
					  <slot name="icon"><Icon name="astro" size="1rem" /></slot>
					</ButtonContact>
					<ButtonContact Text="Discord Server" Link="https://discord.com/invite/4NFk6TamAB">
					  <slot name="icon"><Icon name="astro" size="1rem" /></slot>
					</ButtonContact>
				  </div>
				</div>
	  </section>	  
</main>
</Layout>
