---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { Icon } from 'astro-icon/components';
import NavBar from '../components/NavBar.astro';
import Background from '../components/Background.astro';
---

<Layout title="Welcome to Astro.">
<main>
	<NavBar></NavBar>
    <Background>
	</Background>
</main>
</Layout>
