---
// Props disponibles en el componente
export interface Props {
    text:string;
    user:string;
}

const {
    text="No es un comando valido",
    user="Bastian Dev"
} = Astro.props;
---
<p class="text-md sm:text-lg md:text-xl lg:text-2xl font-mono text-white my-1 mx-1">
    <span class="text-pink-700" > {user} $ </span> {text}
</p>