/* Archivo: globals.css o similar */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases personalizadas */
.glow-effect {
  text-shadow: 
    0 0 5px rgba(134, 194, 50, 0.6), /* Verde claro */
    0 0 10px rgba(97, 137, 47, 0.7), /* Verde oscuro */
    0 0 20px rgba(107, 110, 112, 0.5); /* Gris */
  transition: text-shadow 0.3s ease-in-out;
}

.glow-effect:hover {
  text-shadow: 
    0 0 8px rgba(134, 194, 50, 0.8), /* Verde claro */
    0 0 15px rgba(97, 137, 47, 0.9), /* Verde oscuro */
    0 0 30px rgba(107, 110, 112, 0.7); /* Gris */
}

.border-effect {
  -webkit-text-stroke: 0.5px rgb(68, 67, 67); /* Grosor y color del borde */
}

.custom-input {
  border: none; /* Elimina el borde gris */
  outline: none; /* Elimina el efecto de enfoque azul */
  background: none; /* Fondo transparente */
}
